@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "جاري التحقق من كلمه المرور";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <p class="text-center">
                من فضلك افحص بريدك الالكتروني.
            </p>
        </div>
    </div>
</div>
