@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "جاري تأكيد عملية التسجيل";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-sm p-4">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <hr />
                <p class="text-center">
                    من فضلك افحص بريدك الإلكتروني في الرسائل الواردة أو الرسائل غير المهمة "Spam".
                </p>
            </div>
        </div>
    </div>
</div>
